<div class="login-container">
  <div class="login">
    <div class="login-logo">
      <img width="40%" src="app/images/favicon-96x96.png"/>
    </div>
  </div>
  <div class="login-content">
    <div>
      <h3>Challenge Question:</h3>
      <div class="col-sm-12">{{challengeQuestion}}</div>
    </div>
    <br>
    <br>
      <h3>Submit your answer before {{deadLine}} PDT</h3>
      <div class="form-group">
        <div class="col-sm-12">
           <textarea style="height: 400px" class="form-control"
                     placeholder="submit your answer here"
                     ng-model="answer"></textarea>
        </div>
        <br>
        <div class="col-sm-12 text-center">
          <button class="btn btn-primary text-center" ng-click="submitAnswer(answer)"
                  ng-if="!submitted">Submit
          </button>
        </div>

        <br>
        <div class="col-sm-12">
          <div ng-show="submitted">You have successfully submitted your answer,
            thank you! Redirecting to the login page.
          </div>
        </div>

        <br>
        <h4 class="col-sm-12"> Submit History</h4>
        <div class="col-sm-6" ng-repeat="a in submitHistory">
          <ul class="list-group">
            <li class="list-group-item">{{a}}</li>
          </ul>
        </div>
      </div>


  </div>
</div>