<div class="login-container">
  <div class="login">
    <div class="login-logo">
      <img width="90%" src="app/images/smartorg_logo_transparent.png"/>
    </div>
  </div>
  <div class="login-content">
    <div>
      <h2>Challenge Instructions</h2>
      <div class="col-sm-12">
        <p>Dear applicant,</p>

        <p>Thank you very much for your interest in pursuing the software
        engineer/programming internship at SmartOrg! You’ve passed our initial
        screening. We have prepared a small challenge for you which you can opt
          out of if you are no longer interested in the internship.</p>

        <p>This challenge (we will have a link for this) is open for a week (March
        22nd 00:00 PDT to March 29th 00:00 PDT). However, once you start the
        challenge you will only have 24 hours to complete it. (e.g. If you start
        this challenge on March 23rd at 8:00am, you will have until March 24th
        at 7:59am to complete the challenge.) A late submission will be
        considered an invalid entry so plan your time accordingly. You may
          submit your answers up to five times within the 24 hour window.</p>

        <p>Please do not share this challenge. Only those who have received this
        invitation directly from us will be able to access the challenge. We
          hope you will enjoy this challenge!</p>

        <p>It is our hope to complete our internship hiring process by April 13th.
        We will be in touch with you if you are chosen to be invited to meet us
          for an in person interview.</p>
      </div>

    </div>

    <div>
      <div class="col-sm-12">
        <div class="input-group">
          <input class="form-control col-sm-6"
                 type="email"
                 placeholder="enter your email here"
                 ng-model="emailAddress">
          <span class="input-group-btn col-sm-6">
           <button class="btn btn-primary" ng-click="submitEmail(emailAddress)">
          Enter
        </button>
        </span>
        </div>
      </div>

    </div>
  </div>
</div>

